.author-item {
  border: 1px solid grey;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 1rem;
}
.btn-container {
  display: flex;
  justify-content: space-between;
  align-self: center;
  gap: 2rem;
}
